$light-background: rgb(255, 255, 255);
$medium-background: rgba(250, 235, 215, 0.2);
$dark-background: rgba(250, 235, 215, 0.5);
$darker-background: rgb(211, 171, 118);
// $menu-shadow: rgba(255, 255, 255, 0.8);
$snow: #FFFAF7;
$isabelline: #EFEAEA;
$pale-silver: #DBC0C0;
$tuscany: #B7A1A1;
$davys-grey: #5E5656;
$licorice: #12130F;

$primary:       $davys-grey;
$secondary:     $isabelline;
$light:         $snow;
$dark:          $tuscany;

