$light-background: rgb(255, 255, 255);
$medium-background: rgba(250, 235, 215, 0.2);
$dark-background: rgba(250, 235, 215, 0.5);
$darker-background: rgb(211, 171, 118);
// $menu-shadow: rgba(255, 255, 255, 0.8);

$primary:       $darker-background;
$secondary:     $medium-background;
$light:         $light-background;;
$dark:          $dark-background;

