// Main Styles
* {
    margin: 0;
    padding: 0;
}

main {
    * {
        margin: 0;
    }
    & > section {
        min-height: 110vh;
    }
}


// Home


img {
    margin-bottom: -270px;
}

// About

#about {
    .wrap {
        max-width: 600px;
        padding: 20px;
        
    }
}

// Projects

#projects {
    .container {
padding: 20px;
}
}

#contact {
    background-color: $medium-background;


.bg-light{
    height: 110vh;
    padding: 50px;
}
}
// .col-right {
//     background-color: $light-background;
//     height: 65vh;
// }