main {
    margin: 0;
    & > section {
        height: 110vh;
    }
}

.row {
    height: 100%;
}

.row-top {
    height: 70vh;
    background-color: $light-background;
}

.row-bottom {
    height: 40vh;
    background-color: $dark-background;
}

#about {
    background-color: $dark-background;
}

#projects {
    background-color: $medium-background;
}

#contact {
    background-color: $medium-background;
}

.col {
    height: 100%;
    padding: 50px;
}

.col-left {
    background-color: $dark-background;
}

.col-right {
    background-color: $light-background;
}