@import "https://fonts.googleapis.com/css?family=Quicksand|Cormorant+Garamond";

Body {
    font-family: 'Cormorant Garamond', serif;
}

header {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    padding: 0.5em 0;
}